body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;

  font-family: 'Nanum Gothic', sans-serif;
  font-size: 50px;

  background-image: url('../img/ocQ7MTTSMHE.jpg');
  background-position: 0 -105px;
  background-size: cover;
}

.ha h1{
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}